<div class="container">

    <h2>Our latest collection</h2>

    <div fxLayout="row wrap" fxLayoutGap="50px grid">
        <div *ngFor="let product of products">
            <mat-card class="product-card" (click)="addToCart(product)">
                <img mat-card-image src="assets/images/{{product.image_url}}">
                <mat-card-content>
                    <mat-card-title>{{product.name}}</mat-card-title>
                    <mat-card-subtitle>{{product.price | currency:'USD'}}</mat-card-subtitle>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
</div>