.product-card {
    max-width: 150px;
}

mat-card:hover {
    transform: scale(1.05);
    cursor: pointer;
    margin: auto;
}

mat-card {
    transition: transform .2s;
}

.sort-dropdown {
    margin-left: 20px;
}

